---
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main class="container mx-auto py-12">
		<h1 class="text-4xl font-bold mb-4">About</h1>
		<p>This is the about page.</p>
	</main>
</Layout>
